<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">

    <title>toodle</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>toodle</h1>

    <div class="container">
      <div class="card">
        <h2>Add a New Task</h2>
        <div class="desc">What do you want to accomplish?</div>
        <form action="/" method="POST" id="newTask">
          <input type="text" id="addtask" name="addtask" placeholder="Write a new task here...">
          <button class="btn-task" aria-label="create new task" name='addButton'>+</button>

          </form>
        <div class="actions">
        </div>
      </div>
      <div class="card">
        <div class="todo-header">
            <h2 class="list-title">Task List</h2>
            <div class="dropdown">
                <select id="categories" name="categories">
                  <option value="" selected disabled hidden>Filter by category</option>
                  <option value="to_eat">To Eat</option>
                  <option value="to_watch">To Watch</option>
                  <option value="to_read">To Read</option>
                </select>
            </div>
            <p class="desc">You have 3 tasks left to accomplish</p>
          </div>
            <div class="tasks">
                Run a half-marathon
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-check"></i>
            </div>
            <div class="tasks">
                Eat at Biera
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-check"></i>
            </div>
            <div class="tasks">
                Pay EPCOR bill
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-check"></i>
            </div>
          <div class="actions">
        </div>
      </div>
      <div class="card">
        <div class="todo-header">
            <h2 class="list-title">Completed Tasks</h2>
            <div class="dropdown">
              <select id="categories" name="categories">
                <option value="" selected disabled hidden>Filter by category</option>
                <option value="to_eat">To Eat</option>
                <option value="to_watch">To Watch</option>
                <option value="to_read">To Read</option>
              </select>
          </div>
            <p class="desc">See what you've accomplished!</p>
          </div>
            <div class="comptasks">
                Run a half-marathon
                <i class="fas fa-trash-alt"></i>
            </div>
            <div class="comptasks">
                Eat at Biera
                <i class="fas fa-trash-alt"></i>
            </div>
            <div class="comptasks">
                Pay EPCOR bill
                <i class="fas fa-trash-alt"></i>
            </div>
          <div class="actions">
        </div>
      </div>
      </div>
      </section>
    </div>
  </body>
</html>
