<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">

    <title>toodle</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div class="topnav">
      <div class="login-container">
        <form action="/login/1">
          <h4>Hello, Pat Flowers</h4>
          <button type="submit">Logged In</button>
        </form>
      </div>
    </div>

    <h1>toodle</h1>

    <!-- Add Task List -->
    <div class="container">
      <div class="card">
        <div class="todo-header">
        <h2 class="list-title">Add a New Task</h2>

    <!-- dropdown list to filter list by category -->
      <div class="dropdown">
        <select id="categories" name="categories">
          <option value="" selected disabled hidden>Select a category</option>
          <option value="to_eat">To Eat</option>
          <option value="to_watch">To Watch</option>
          <option value="to_read">To Read</option>
        </select>
      </div>
    <!-- end dropdown list -->

        <p class="desc">What do you want to accomplish?</p>
      </div>
        <form>
          <input type="text" id="task_input" name="addtask" placeholder="Write a new task here..." 
          action="/" method="POST" id="newTask">
          <button class="btn-task" aria-label="create new task">+</button>
        </form>
      </div>

    <!-- Task List -->

    <div class="card">
      <div class="todo-header">
        <h2 class="list-title">Task List</h2>
      <!-- dropdown list to filter list by category -->
      <div class="dropdown">
        <select id="categories" name="categories">
          <option value="" selected disabled hidden>All categories</option>
          <option value="to_eat">To Eat</option>
          <option value="to_watch">To Watch</option>
          <option value="to_read">To Read</option>
        </select>
      </div>
      <!-- end dropdown list -->
      
      <p class="desc">You have 3 tasks left to accomplish</p>
    </div>
        <div class="tasks">
          task
            <i class="fas fa-trash-alt"></i>
            <i class="fas fa-check"></i>
        </div>
      </div>

      <!-- Completed Tasks List -->
      <div class="card">
        <div class="todo-header">
          <h2 class="list-title">Completed Tasks</h2>
      <!-- dropdown list to filter list by category -->
      <div class="dropdown">
        <select id="categories" name="categories">
          <option value="" selected disabled hidden>All categories</option>
          <option value="to_eat">To Eat</option>
          <option value="to_watch">To Watch</option>
          <option value="to_read">To Read</option>
        </select>
      </div>
      <!-- end dropdown list -->

      <p class="desc">See what you've accomplished!</p>
      </div>
      <div class="comptasks">
        task          
        <i class="fas fa-trash-alt"></i>
      </div>
      </div>
    </div>
   </section>
  </body>
</html>
